@charset "utf-8";

/*게시판 공통*/
#board_box{width: 1000px; margin: 0 auto; padding: 20px;}
#board_box h2{padding: 20px 0; border-bottom: 1px solid #ccc; color:#555;}


#board_box .buttons{display: flex; justify-content: flex-end; padding: 20px 0 40px;}
#board_box .buttons li{margin: 0 5px;}
#board_box .buttons li button{padding: 10px 20px; border: 1px solid #21bda1; border-radius: 4px; color:#21bda1; background-color: #fff; cursor: pointer;}

#board_box .buttons li:hover button{background-color: #21bda1; color:#fff;}


/*게시판 작성(board_from.php)*/
#board_box #board_form{border-bottom: 1px solid #ccc; padding: 10px 0;}
#board_box #board_form li{padding: 10px 0; display: flex; flex-wrap: wrap; align-items: center;}

#board_box #board_form li .label_box{width: 160px; padding: 0 10px;}
#board_box #board_form li .label_box label{display: block; width: 100%; line-height: 40px; font-weight: bold; color:#777;}

#board_box #board_form li .input_box{width: calc(100% - 160px); padding: 0 10px;}

#board_box #board_form li .input_box input[type="text"]{width: 100%; border:none; border-bottom: 1px solid #aaa; line-height: 39px; color:#777; font-size: 16px; padding: 0 10px;}

#board_box #board_form li:nth-child(3){align-items: flex-start;}

#board_box #board_form li .input_box textarea{width: 100%; height: 200px; border: 1px solid #ccc; color:#777; resize: none; padding: 8px 10px; font-size: 16px; border-radius: 4px;}

#board_box #board_form li .input_box p{line-height: 40px; color:#777; padding: 0 10px;}

#board_box #board_form li .input_box select{width: 160px; height: 40px; border-radius:4px; border:1px solid #ccc; padding: 0 10px;}

#board_box #board_list{padding: 20px;}
#board_box #board_list li{border-bottom: 1px solid #ccc; display: flex; align-items: center; text-align: center;}

#board_box #board_list li span{font-size: 14px; line-height: 24px; color:#777; padding: 10px 5px; display: block;}

#board_box #board_list li span.field_1{width: 60px;}
#board_box #board_list li span.field_2{width: calc(100% - 460px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#board_box #board_list li span.field_3{width: 80px;}
#board_box #board_list li span.field_4{width: 80px;}
#board_box #board_list li span.field_5{width: 180px;}
#board_box #board_list li span.field_6{width: 60px;}

#board_box #board_list li span a{color:#777;}
#board_box #board_list li span a:hover{color:#21bda1;}

#board_box #board_list li span img{height: 20px;}

#board_box #board_list li:first-child{border-bottom: 1px solid #333;}
#board_box #board_list li:first-child span{color:#333;}

#board_box #board_list li:nth-child(even){background-color: #edefed;}


#board_box #page_num{display: flex; justify-content: center; align-items: center; padding: 20px 0;}
#board_box #page_num li{margin: 0 5px; font-size: 14px;}

#board_box #page_num li a{display: block; color:#777; line-height: 18px; min-width: 30px; text-align: center;}

#board_box #page_num li .cur_page{display: block; height: 30px; width: 30px; line-height: 26px; background-color: #21bda1; border-radius:50%; color:#fff; text-align: center;}

#board_box #page_num li:hover a{color:#21bda1;}


/*게시판 상세 페이지*/
#view_content{padding: 20px;}
#view_content li{font-size: 14px; padding: 10px 0; color:#777; border-bottom: 1px solid #ccc;}

#view_content li:first-child{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}

#view_content li div{display: flex; align-items: center;}

#view_content li div img{display: block; height: 20px; margin-right: 20px;}

#view_content li div a{display: block; padding: 5px 10px; border-radius:4px; background-color: #21bda1; color:#fff; margin-left: 20px;}
#view_content li div a:hover{background-color: #019d81;}

#view_content li p{padding-top: 20px;}