@charset "utf-8";

/*메시지 보내기 양식*/

#message_box{width: 1000px; margin: 0 auto; padding: 0 20px;}

#message_box h2{padding: 20px 0 10px; border-bottom: 1px solid #ccc; margin-bottom: 10px; color:#555;}

#message_box .top_buttons{padding: 10px 0 20px; display: flex;}
#message_box .top_buttons li{margin-right: 20px;}
#message_box .top_buttons li a{display: block; line-height: 40px; font-size: 17px; border-radius:4px; padding: 0 20px; background: #fff; color:#21bda1; border:1px solid #21bda1;}

#message_box .top_buttons li:hover a{background: #21bda1; color:#fff;}


#message_box #write_msg{padding-bottom: 40px;}
#message_box #write_msg ul{border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px;}
#message_box #write_msg ul li{padding-bottom: 10px; display: flex;}
#message_box #write_msg ul li .label_box{width: 160px; padding: 0 10px;}
#message_box #write_msg ul li .label_box label{font-size: 16px; line-height: 40px; color:#777;}

#message_box #write_msg ul li .input_box{width: calc(100% - 160px); padding: 0 10px;}
#message_box #write_msg ul li .input_box input{width: 100%; border:none; border-bottom: 1px solid #aaa; line-height: 39px; color:#777; padding: 0 10px; font-size: 16px;}

#message_box #write_msg ul li .input_box p{color:#777; padding: 0 10px; line-height: 40px;}

#message_box #write_msg ul li .input_box textarea{width: 100%; height: 200px; border: 1px solid #aaa; border-radius:4px; resize: none; padding:8px 10px; font-size: 16px;}

#message_box #write_msg .send_btn{background-color: #21bda1; color:#fff; cursor: pointer; border:none; border-radius:4px; padding: 10px 20px; font-size: 17px;}

#message_box #write_msg .send_btn:hover{background-color: #019d81;}


/*메시지 리스트 양식*/
#message_box #message_list{padding-bottom: 40px;padding-top: 20px;}
#message_box #message_list #message{border-top: 1px solid #777;}
#message_box #message_list #message li{border-bottom: 1px solid #ccc; display: flex; text-align: center;}

#message_box #message_list #message li span{font-size: 14px; line-height: 24px; color:#777; padding: 10px 5px; display: block;}
#message_box #message_list #message li span.field_1{width: 60px;}
#message_box #message_list #message li span.field_2{width: calc(100% - 460px); text-align: left;}
#message_box #message_list #message li span.field_3{width: 200px;}
#message_box #message_list #message li span.field_4{width: 200px;}

#message_box #message_list #message li span a{color:#555;}
#message_box #message_list #message li span a:hover{color:#21bda1;}

#message_box #message_list #page_num{display: flex; justify-content: center; align-items: center; padding: 20px 0;}
#message_box #message_list #page_num li{margin: 0 5px; font-size: 14px;}

#message_box #message_list #page_num li a{display: block; color:#777; line-height: 18px; min-width: 30px; text-align: center;}

#message_box #message_list #page_num li .cur_page{display: block; height: 30px; width: 30px; line-height: 26px; background-color: #21bda1; border-radius:50%; color:#fff; text-align: center;}

#message_box #message_list #page_num li:hover a{color:#21bda1;}







#message_box .msg_link{display: flex; justify-content: flex-end; padding: 20px 0 40px;}
#message_box .msg_link li{margin: 0 5px;}
#message_box .msg_link li:last-child{margin-right: 0;}
#message_box .msg_link li button{padding: 10px 20px; border:none; background-color: #fff; color:#21bda1; border:1px solid #21bda1; border-radius: 4px; cursor: pointer; font-size: 17px;}

#message_box .msg_link li:hover button{background-color: #21bda1; color:#fff;}


/*메시지 상세보기 양식*/
#message_box #message_view{padding-bottom: 20px; border-bottom: 1px solid #777;}
#message_box #message_view li{border-bottom: 1px solid #ccc; padding: 10px 0; font-size: 14px; display: flex; flex-wrap: wrap;}

#message_box #message_view li span{font-weight: bold; width: 100px; display: inline-block;}



